[Unit]
Description=FE logger

[Service]
ExecStart=/usr/bin/node /home/ec2-user/fe_logger/dist/server.js
Restart=always
#User=skills
# Note RHEL/Fedora uses 'nobody', Debian/Ubuntu uses 'nogroup'
#Group=skills  
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
Environment=MONGODB_CONNECTION_STRING=mongodb://admin:Gagarina18@172.31.46.253:27017/fe_logs
Environment=PORT=3002
WorkingDirectory=/home/ec2-user/fe_logger

[Install]
WantedBy=multi-user.target
